extends layout 

block content
  h1= title
  - let cherry = results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row m-1')
      each m, index in cherry 
       - let destination = `dispatch(\"/cherry/update?id=${m._id}\")` 
       div(class="col-sm-2" onclick=`buy(${index})`) #{m.Cherry_type} #{m.Weight} #{m.Cost}
       button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }