extends layout

block content
  h1= title

  if (toShow == null)
    h2 No instance to delete
  else
    - let cherryid = toShow._id
    - let Cherry_type = toShow.Cherry_type
    - let Weight = toShow.Weight
    - let Cost = toShow.Cost 
    - let actionid = "/resource/cherry/" + cherryid
    script let actionid = "#{actionid}"
    div
      div.row
        div(class='cherryAttr mr-3') cherry ID is:
        div #{cherryid}
      div.row
        div(class='cherryAttr mr-3') cherry Type is:
        div #{Cherry_type}
      div.row
        div(class='cherryAttr mr-3') cherry  Weight is:
        div #{Weight}
      div.row
        div(class='cherryAttr mr-3') cherry Cost is:
        div #{Cost}

    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel

  script.
    function cancel() {
      // Go back to the home page for the cherry collection
      window.location.href='/cherry'
    }
  script.
    function deleteOnid() {
      console.log("starting delete")
      // delete first
      fetch(actionid, {
        method: 'DELETE'      // Don't need a body for the delete
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Delete succeded")
        window.location.href='/cherry'
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Delete failed " + error )
      });
    }